@import 'https://fonts.googleapis.com/css?family=Lato:400,700,300,900';
@import 'flexboxgrid.min.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #240201;
  background-image: url('bg.svg');
  background-repeat: repeat-y;
  background-size: contain;
  background-color: #f03103;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 2em;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.social-links {
  display: flex;
  justify-content: space-around;
}
.social-links a {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex: 1;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
}
.social-links a:hover {
  color: #240201;
}
.headline h1 {
  font-size: 11vw;
  text-align: center;
  color: #ffffff;
  margin-bottom: 3rem;
}
.headline .line {
  display: none;
}
.products {
  padding: 0 2rem;
}
.products .product {
  color: #240201;
}
.products h2 {
  font-size: 2.56rem;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #240201;
  font-weight: 700;
}
.products p {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
}
.products a:hover .selection {
  color: #f03103;
  background-color: #240201;
}
@media screen and (min-width: 62em) {
  .headline .line {
    display: block;
    height: 6rem;
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .social-links {
    justify-content: flex-end;
  }
  .social-links a {
    flex: 0;
    margin-right: 2rem;
    font-size: 1rem;
  }
  .headline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50vh;
  }
  .headline h1 {
    font-size: 6.5536rem;
    font-weight: 700;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 2rem;
    text-align: right;
  }
  .products {
    position: absolute;
    top: 50vh;
  }
}
@media screen and (min-aspect-ratio: 16/10) {
  body {
    background-size: cover;
  }
}
