body {
  font-family: 'Roboto Mono';
  background-color: #333;
  color: #fff;
  font-size: 14px;
  line-height: 1.86em;
  font-weight: 400;
}

h1, h2 {
  font-weight: normal;
}

img {
  width: 100%;
  max-width: 600px;
}

/* Grid */
.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
}
.page {
  min-height: 500px;
}
.menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #eee solid;
  align-items: center;
}
.menu a, .footer a {
  border-bottom: none;
}
.footer {
  min-height: 3em;
  display: flex;
  justify-content: center;
  border-top: 1px #eee solid;
  align-items: center;
}
.footer .material-icons {
  font-size: 14px;
}

.half, .full {
  flex: 1 1;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .row {
    flex-direction: row;
    width: 1024px;
  }
  .half {
  }
  .full {
  }
  .reverse {
    flex-direction: row-reverse;
  }
}

a {
  color: #eee;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid #fff;
}
.cta {
  text-transform: uppercase;
}
